* {
  font-family: Montserrat;
  margin: 0;
  padding:0;
  color: white;
  
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(-45deg, #d6532b, #261594, #3a877f, #11064f);
 
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  margin: 2rem;
 
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.landingpage {
  max-width: 100%;
  max-height:100%;
  
 
  
}

.navbar {
  margin: auto;
  display: flex;
  
  justify-content: space-between;
  padding:2rem;
  
  flex-direction: row;
   
}

.navbar ul li {
 
  padding-top:2rem;
  list-style: none;
  display: inline-block;
  margin: 0 3rem;
 
  position: relative;
  
}

.navbar ul li a {
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.current {
  font-weight: bold;
  
}

.navbar ul li :after {
  
  content: "";
  height: 3px;
  width: 0;
  background: #ee9118;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li :hover:after {
  width: 100%;

}

.main{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
  padding-top: 0rem ;

}

.pic1{
  height:25rem;
  border-radius: 50%;
  
}
.content{
  
  
  padding-top:0rem;
  padding-left:5rem;
  
  
  
}
.full{
  font-size: 4rem;
  color: orange;
  font-weight: bold;
}
.description{
  font-size: 2.5rem;
  letter-spacing:2px ;
}

.skills_section{
  max-width: 100%

}
 .main .content ul {
 
	list-style: none;
  
  font-size: 1.5rem;
  


}
.main .content ul li{
  padding:1rem;
  display:inline-block;
  margin:5px;
 
  border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: white;
	border-radius: 3px;
	position: relative;
}


.landingpage .hamburgermenu {
  color: white;
  font-size: 4rem;
  display: none;
}

.landingpage .close {
  color: white;
  font-size: 4rem;
}

.landingpage .sidebar{
  display: none;
}


/* Responsive Design*/
@media (max-width: 1200px) {
  html {
    font-size: 62.5%;
  }

 .landingpage .sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top:0;
  right:-100%;
  width: 30rem;
  height:100vh;
  padding: 2rem;
  
  
  background-color:rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 1rem;
  
  overflow: hidden;
  transition: height 1s;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

  transition: 0.75s ease-out;

  }


  .sidebar li{
   
  list-style: none;
  padding: 2rem;
  }
  .sidebar li a {
    text-decoration: none;
    font-size: 2rem;
    
  
  }

  .landingpage .hamburgermenu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 5rem;
    right: 6rem;
    
    font-size: 3.5rem;
  
  }

  .sidebar .close {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 5rem;
    right: 6rem;
    font-size: 2.5rem;
  
  }
 

  .navlinks{
    display: none;
  }

 

  .logo{
    max-width: 50rem;
  }

}

/* Responsive design */

@media (max-width: 1000px) {
  html {
    font-size: 45.5%;
  }

  .pic1{
      height:20rem;
      border-radius: 50%;
  }

  .landingpage {
    width: 100%;
    height:100%;
    margin: 0;
    
  }
  
      
  .main{
      display:flex;
      flex-direction: column;
      gap: 5rem;
      align-items: center;
      padding: 5rem;
      padding-top: 0px ;
    
    }

    .landingpage .hamburgermenu {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 6rem;
      right: 6rem;
      
      font-size: 4.5rem;
    
    }
}
